spring:
  datasource:
    url: ${LOCAL_DB_URL}
    username: ${LOCAL_DB_NAME}
    password: ${LOCAL_DB_PASSWORD}
    driver-class-name: ${LOCAL_DB_CLASS}

  jpa:
    database-platform: org.hibernate.dialect.OracleDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        highlight_sql: true

logging:
  level:
    org.mybatis: DEBUG
    org.apache.ibatis: DEBUG
    org.mybatis.spring: DEBUG
    java.sql: DEBUG
    javax.sql: DEBUG
    org.springframework.jdbc.support.SQLErrorCodeSQLExceptionTranslator: DEBUG