server:
  port: ${PORT:8080}

spring:
  application:
    name: tbs_miniERP_BACK
  profiles:
    active: local

mybatis:
  mapper-locations: classpath:/mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
