server:
  port: 8080

mybatis:
  mapper-locations: classpath:/mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

spring:
  application:
    name: tbs_miniERP_BACK

  datasource:
    url: jdbc:oracle:thin:@localhost:1521:XE
    username: baek
    password: 1357
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    database-platform: org.hibernate.dialect.OracleDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        highlight_sql: true

logging:
  level:
    org.mybatis: DEBUG
    org.apache.ibatis: DEBUG
    org.mybatis.spring: DEBUG
    java.sql: DEBUG
    javax.sql: DEBUG
    org.springframework.jdbc.support.SQLErrorCodeSQLExceptionTranslator: DEBUG
