spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER_CLASSNAME}

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      hbm2ddl:
        auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false

logging:
  level:
    root: info
    org.mybatis: info
    org.apache.ibatis: info