<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baek.tbs_miniERP_BACK.mapper.EmpMapper">

    <!-- 직원 전체 조회 -->
    <select id="findAll" resultType="com.baek.tbs_miniERP_BACK.dto.EmpDTO">
        SELECT
            e.EMP_ID   AS empId,
            e.EMP_NAME AS empName,
            e.EMP_POS  AS empPos,
            CASE e.EMP_STATUS
                WHEN 'EMPLOYEE' THEN '재직'
                WHEN 'RESIGN'   THEN '퇴직'
                WHEN 'ONLEAVE'  THEN '휴직'
                ELSE '기타'
            END AS empStatus,
            t.TEAM_NAME AS teamName
        FROM EMPLOYEE e
        LEFT JOIN TEAM t
        ON t.TEAM_ID = e.TEAM_ID
        ORDER BY e.EMP_ID
    </select>

    <!-- 직원 전체 조회; 엑셀 내보내기 -->
    <select id="selectEmpForExport" resultType="com.baek.tbs_miniERP_BACK.dto.EmpDTO">
        SELECT
            e.EMP_ID   AS empId,
            e.EMP_NAME AS empName,
            e.EMP_POS  AS empPos,
            CASE e.EMP_STATUS
                WHEN 'EMPLOYEE' THEN '재직'
                WHEN 'RESIGN'   THEN '퇴직'
                WHEN 'ONLEAVE'  THEN '휴직'
                ELSE '기타'
            END AS empStatus,
            t.TEAM_NAME AS teamName
        FROM EMPLOYEE e
        LEFT JOIN TEAM t
        ON t.TEAM_ID = e.TEAM_ID
        <where>
            <if test="p.empId != null and p.empId.trim() != ''">
                AND LOWER(e.emp_id) LIKE '%' || LOWER(#{p.empId}) || '%'
            </if>
            <if test="p.empName != null and p.empName.trim() != ''">
                AND LOWER(e.emp_name) LIKE '%' || LOWER(#{p.empName}) || '%'
            </if>
            <if test="p.empPos != null and p.empPos.trim() != ''">
                AND LOWER(e.emp_pos) LIKE '%' || LOWER(#{p.empPos}) || '%'
            </if>
            <if test="p.empId != null and p.empId.trim() != ''">
                AND LOWER(t.team_name) LIKE '%' || LOWER(#{p.teamName}) || '%'
            </if>
            <if test="p.empId != null and p.empId.trim() != ''">
                AND LOWER(e.emp_status) LIKE '%' || LOWER(#{p.empStatus}) || '%'
            </if>
            <!-- globalSearch: -토큰(제외) -->
            <foreach collection="t.mustExclude" item="token">
                AND NOT (
                    LOWER(e.EMP_NAME) LIKE '%' || #{token} || '%'
                    OR LOWER(e.EMP_POS) LIKE '%' || #{token} || '%'
                    OR LOWER(t.TEAM_NAME) LIKE '%' || #{token} || '%'
                    OR LOWER(e.EMP_STATUS) LIKE '%' || #{token} || '%'
                )
            </foreach>

            <!-- globalSearch: +토큰(필수) -->
            <foreach collection="t.mustInclude" item="token">
                AND (
                    LOWER(e.EMP_NAME) LIKE '%' || #{token} || '%'
                    OR LOWER(e.EMP_POS) LIKE '%' || #{token} || '%'
                    OR LOWER(t.TEAM_NAME) LIKE '%' || #{token} || '%'
                    OR LOWER(e.EMP_STATUS) LIKE '%' || #{token} || '%'
                )
            </foreach>

            <!-- globalSearch: 일반토큰(AND 규칙 그대로) -->
            <foreach collection="t.include" item="token">
                AND (
                    LOWER(e.EMP_NAME) LIKE '%' || #{token} || '%'
                    OR LOWER(e.EMP_POS) LIKE '%' || #{token} || '%'
                    OR LOWER(t.TEAM_NAME) LIKE '%' || #{token} || '%'
                    OR LOWER(e.EMP_STATUS) LIKE '%' || #{token} || '%'
                )
            </foreach>
        </where>
        ORDER BY e.EMP_ID
    </select>

    <!-- 다음 사번 조회 -->
    <select id="nextEmpId">
        SELECT MAX(emp_id)
        FROM employee
    </select>

    <!-- 전체 사번 조회   -->
    <select id="findAllEmpId">
        SELECT emp_id
        FROM employee
    </select>

    <!-- 직원 일괄 등록 (PG) -->
    <insert id="createEmps" parameterType="java.util.List">
        INSERT INTO employee (
            emp_id,
            emp_name,
            emp_pos,
            emp_status,
            emp_reg_dt,
            team_id
        )
        VALUES
        <foreach collection="list" item="e" separator=",">
            (
                #{e.empId},
                #{e.empName},
                #{e.empPos},
                'EMPLOYEE',
                #{e.empRegDt},
                (SELECT team_id FROM team WHERE team_name = #{e.teamName})
            )
        </foreach>
    </insert>
<!--    직원 등록 (ORA) -->
<!--    <insert id="createEmps">-->
<!--        INSERT ALL-->
<!--        <foreach collection="list" item="e">-->
<!--            INTO-->
<!--                employee-->
<!--                (-->
<!--                    emp_id,-->
<!--                    emp_name,-->
<!--                    emp_pos,-->
<!--                    emp_status,-->
<!--                    emp_reg_dt,-->
<!--                    team_id-->
<!--                )-->
<!--            VALUES-->
<!--                (-->
<!--                    #{e.empId},-->
<!--                    #{e.empName},-->
<!--                    #{e.empPos},-->
<!--                    'EMPLOYEE',-->
<!--                    #{e.empRegDt},-->
<!--                    (SELECT team_id FROM team WHERE team_name = #{e.teamName})-->
<!--                )-->
<!--        </foreach>-->
<!--        SELECT 1 FROM DUAL-->
<!--    </insert>-->


    <!-- 직원 정보 수정 (ORA) -->
<!--    <update id="updateEmps" parameterType="java.util.List">-->
<!--        <foreach collection="list" item="item" separator=";" open="DECLARE BEGIN" close="; END;">-->
<!--            UPDATE-->
<!--                employee-->
<!--            SET-->
<!--                emp_name = #{item.empName},-->
<!--                emp_pos = #{item.empPos},-->
<!--                emp_status = #{item.empStatus},-->
<!--                team_id = (SELECT team_id FROM team WHERE team_name = #{item.teamName})-->
<!--            WHERE-->
<!--                emp_id = #{item.empId}-->
<!--        </foreach>-->
<!--    </update>-->

    <!-- 직원 정보 수정 (PG) -->
    <update id="updateEmps" parameterType="java.util.List">
        UPDATE
            employee e
        SET
            emp_name = v.emp_name,
            emp_pos = v.emp_pos,
            emp_status = v.emp_status,
            team_id = v.team_id
        FROM (
            VALUES
            <foreach collection="list" item="item" separator=",">
                (
                    #{item.empId},
                    #{item.empName},
                    #{item.empPos},
                    #{item.empStatus},
                    (SELECT team_id FROM team WHERE team_name = #{item.teamName})
                )
            </foreach>
        ) AS v(
            emp_id,
            emp_name,
            emp_pos,
            emp_status,
            team_id
        ) WHERE e.emp_id = v.emp_id
    </update>

    <!-- 직원 정보 수정; 퇴사처리 (ORA) -->
<!--    <update id="resignEmps" parameterType="java.util.List">-->
<!--        <foreach collection="list" item="item" separator=";" open="DECLARE BEGIN" close="; END;">-->
<!--            UPDATE employee-->
<!--            SET emp_status = #{item.empStatus}-->
<!--            WHERE emp_id = #{item.empId}-->
<!--        </foreach>-->
<!--    </update>-->

    <!-- 퇴사처리 (PG) -->
    <update id="resignEmps" parameterType="java.util.List">
        UPDATE employee e
        SET
            emp_status = v.emp_status
        FROM (
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.empId},
            #{item.empStatus}
            )
        </foreach>
        ) AS v(emp_id, emp_status)
        WHERE e.emp_id = v.emp_id
    </update>


    <!-- 전체 직위 조회 -->
    <select id="findAllEmpPos">
        SELECT DISTINCT emp_pos AS empPos FROM employee
    </select>
</mapper>